# dependencies (bun install)
node_modules

# tmp
tmp/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
secrets/

# Your own config
config.yml

# Contentbase Embeddings
.contentbase

# Finder (MacOS) folder config
.DS_Store

# Claude Stuff
.claude/settings.local.json
.claude/skills/luca-framework/references/examples
.claude/skills/luca-framework/references/tutorials
.claude/skills/luca-framework/references/apis

assistants/*/generated

# logs
logs/prompt-outputs
logs/researcher

# docs/README.md and docs/TOC
# these change a lot when interacting with the chief, so we're git ignoring them for now.  
# I can manually update what is in git now if it changes a bunch
docs/README.md
docs/TABLE-OF-CONTENTS.md

# the examples folder I can use to teach the agent shit
examples/
shared/*.*

apps/desktop/src-tauri/binaries
apps/desktop/src-tauri/gen
apps/desktop/src-tauri/target

MUTE


# The content themselves here is not relevant to the repo i'm sharing
docs/reports/*
docs/prompts/*
docs/tasks/*
