# dependencies (bun install)
node_modules

# tmp
tmp/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
secrets/

# Contentbase Embeddings
.contentbase

# Finder (MacOS) folder config
.DS_Store

# Voice System
voice/wakeword/models/*.rpw
voice/wakeword/samples/*.wav

# Claude Stuff
.claude/settings.local.json
.claude/skills/luca-framework/references/examples
.claude/skills/luca-framework/references/tutorials
.claude/skills/luca-framework/references/apis

assistants/*/generated

# logs
logs/prompt-outputs

# docs/README.md and docs/TOC
# these change a lot when interacting with the chief, so we're git ignoring them for now.  
# I can manually update what is in git now if it changes a bunch
docs/README.md
docs/TABLE-OF-CONTENTS.md
